<h1 align="center"> ¿Quienes somos? </h1>
<div class="card" style="width: 1340rem;">
    <img id="tarjeta1" src="imagen11.jpg" class="card-img-top" alt="...">
    <div id="tarjeta2" class="card-body">
      <h5 align="center"> <b> Golf Wang </b> </h5>
      <p class="text-primary">Golf Wang (Normalmntee escrito "GOLF WANG", con mayusculas") es una marcad de ropa creada por el 
        rapero, productor, artista, diseñador y director "Tyler, The Creator". El nombre proviene del colectivo del rapero 
        "Odd Future Wolf Gang Kill Them All (cambiando las letras para generar el nombre final). <br>
        Esta marca es reconocida por sus coloridos diseños y su paleta de colores inspirada en la moda de antaño, pero 
        mezclandola con el stree-twear y los diseños modernos. En 2013 lla marca se expandió mas alla del colectivo y paso a 
        ser una marca por si misma y gano grn reconocimiento en la industria de la moda. <br>
        La marca vende remereas, buzos, medias, gorras, calzado, pantalones y sus famosas colaboraciones con Converse, bajo el 
        nombre de "GOLF le FLEUR*"</p>
        <H5 align="center"> <b> Colecciones: </b> </H5>
        <p class="text-primary">GOLF WANG ha lanzado una variedad de colecciones desde 2013. Los más notables son: O/Invierno 2013, P/V 2014, O/Invierno 2014, 
            P/V 2015, O/Invierno 2015, O/Invierno 2016, O/O/2017, OTOÑO 2018, INVIERNO 2018, VERANO 2019, INVIERNO 2019, OTOÑO 2019, OTOÑO 2020, 
            INVIERNO 2020, OTOÑO 2020, INVIERNO 2020, VERANO 2021, INVIERNO 2021, VERANO 2022, O/Invierno 2022, P/V 2023, O/Invierno 2023, y P/V 2024.</p>
            <H5 align="center"> <b> colaboraciones: </b> </H5>
        <p class="text-primary">A lo largo de su historia, Golf Wang ha colaborado con otras marcas formando parte de diversos proyectos. La primera colaboración notable de Golf Wang 
            fue su proyecto con Vans. La asociación duró de 2013 a 2016. En una entrevista con Dazed Magazine en 2017, Tyler declaró que Golf Wang cortó los 
            lazos con Vans debido a la falta de libertad creativa. Tras la salida de Golf Wang de Vans, Tyler, the Creator y Converse colaboraron para crear la 
            colección de zapatillas GOLF le FLEUR*. En 2017, Golf Wang colaboró con la marca japonesa de sandalias SUICOKE. Su primer lanzamiento fueron las 
            sandalias KAW-CAB en colores 'Mocha' y 'Lemon Yellow'. En abril de 2019, lanzaron una tercera versión de las sandalias KAW-CAB. Luego, en octubre 
            de 2019, se lanzó una silueta diferente llamada sandalias 'DEPA-CAB' en dos nuevas combinaciones de colores. También en 2019, GOLF le FLEUR* y Converse 
            lanzaron una nueva silueta original llamada 'GLF Giano Ox'. Los zapatos estaban disponibles en dos combinaciones de colores, 'Bright Concord' y 'Cuban Sand'.
            Ese mismo año, GOLF WANG creó una vela perfumada en colaboración con la marca de fragancias japonesa "reta W". Llamada 'Coldwater', la vela salió a la venta el 23 de 
            marzo de 2019. En cuanto a la ropa, Golf le Fleur se asoció con la marca de moda Lacoste para una colección SS19 llamada 'GOLF le COSTE*'. La línea de ropa presentaba 
            colores como el rosa pálido, el beige y el blanco roto llamados respectivamente 'litchi', 'geode' y 'mascarpone'. Golf le Fleur colaboró luego con Jeni's Splendid Ice Creams. 
            El primer helado se llamó 'Snowflake', lanzado el 8 de julio de 2019, tenía un sabor a helado de chocolate blanco. El segundo sabor, 'Pluto Bleu', se lanzó en línea el 17 de 
            septiembre de 2020 y era un helado con sabor a naranja sanguina y arándanos. El 20 de mayo de 2020, Golf Wang lanzó un conjunto superior e inferior con Levi Strauss & Co. 
            para su 'día 501'. La colaboración contó con la chaqueta trucker de corte vintage de Levi's y los jeans 501 '93 en denim crudo con lunares de los colores del arcoiris.</p>
    </div>
    <img id="tarjeta1" src="imagen14.jpg" class="card-img-top" alt="...">
  </div>